* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

/* sidebar start */

.sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    grid-gap: 35px;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding: 15px 20px 20px 15px;
    background-color: #94a3b8;
    color: #f8fafc;
}


.dash-image{
    width: 2em;
    padding-right: 8px;
}

.nav-heading {
    font-weight: bold;
    font-size: 35px;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
}

.sidebar li {
    display: flex;
    align-items: center;
    margin-left: 7px;
}

.simple-icon {
    width: 20px;
    margin: 20px;
}

.nav-bar {
    grid-row: 2 / 3;
}

.nav-styles {
    font-size: 17px;
    font-weight: 500;
}

.nav-styles li {
    padding: 0%;
}

.setting-bar {
    padding-top: 15px;
    grid-row: 3 / 4;
}


/* sidebar end */


/* header start */


.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    position: relative;
    color: #f8fafc;
    background-color: #475569;
    box-shadow: 0px 2px 3px rgb(110, 107, 107)
}

.top-header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: space-between;
}

.search-bar {
    grid-column: 1 / 2;
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 10px 0px 0px 30px;
    margin-top: 5px;
}

.search-icon {
    margin-right: 8px;
    width: 28px;
}

.search-input {
    padding-left: 10px;
    width: 45vw;
    max-width: 471px;
    height: 25px;
    background-color: #fff7ed;
    border: none;
    border-radius: 15px;
    margin-top: 12px;
}

.profile-bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    justify-items: space-around;
    align-items: center;
    grid-column: 2 / 3;
    width: 20vw;
    max-width: 196px;
    min-width: 156.2px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

.profile-bar img {
    margin-right: 5px;
}

.bell-icon {
    width: 25px;
    height: 25px;
}

.profile-pic-small {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.541);
}

.profile-pic-large {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    border-radius: 50px;
    margin-left: 80px;
    border: 1px solid rgba(0, 0, 0, 0.521);
}


.bottom-header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-items: center;
}

.profile-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: start;
    align-items: center;
    margin-left: 20px;
}

.greeting {
    font-size: 15px;
    margin-bottom: 5px;
    padding-left: 5px;
}

.name {
    font-size: 20px;
}

.make-post {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-self: center;
    gap: 50px;
}

.headerbtn {
    color: #f8fafc;
    font-weight: 600;
    background-color: #94a3b8;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;
}

/* header end */


/* main start */

.main {
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 30px 20px 40px 20px;
    max-height: 100%;
}

.project-display {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.section-heading {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
}

.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 10px;
}

.card {
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr 1fr;
    background-color: #fdba74;
    width: 80%;
    height: 180px;
    border-radius: 5px;
    min-width: 265px;
    box-shadow: 0px 2px 3px rgb(175, 175, 175);
    padding: 30px 20px 20px 20px;
    background-image: linear-gradient(left, #eedf57, #eedf57 2%, transparent 2%, transparent 100%);
}

.card-text {
    grid-column: 1 / 3;
}

.title {
    font-weight: 600;
    font-size: 1em;
    color: #0f172a;
}

.description {
    font-size: .9em;
    color: #475569;
}

.action-container {
    grid-column: 2 / 3;
}

.actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-self: end;
}

.action-option {
    width: 30px;
    height: 20px;
}

ul.actions {
    margin-top: 3em;
}

ul li {
    list-style: none;
}




.announcements-container {
    background-color: #fb923c;
    box-shadow: 0px 2px 3px rgb(175, 175, 175);
    padding: 20px 20px 20px 25px;
    border-radius: 5px;
    min-width: 231px;
    margin-bottom: 30px;
}

.announcement-heading {
    font-weight: 600;
    font-size: 1em;
    margin-bottom: 5px;
    color: ##0f172a;
}

.announcement-description {
    font-size: .9em;
    color: #475569;
}

hr {
    margin: 15px 0 15px 0;
    background-color: black;
    height: 1px;
    border: none;
}


.trending-container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    background-color: #fb923c;
    box-shadow: 0px 2px 3px rgb(175, 175, 175);
    padding: 20px 20px 6px 25px;
    border-radius: 5px;
    min-width: 231px;
}

.trending-profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.trending-profile img {

}

.trending-username {
    color: #0f172a;
    font-size: 15px;
    font-weight: 400;
}

.trending-project {
    color: #475569;
    font-size: 12px;
    
}


@media (max-width: 1052px) {    
    .card {
        width: 100%;
        height: 140px;
    }
    
    
    .trending {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .main {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 320px 320px 400px;
        padding: 30px 20px 40px 20px;
        max-height: 100%;
    }
    
}

.clickable:hover {
    cursor: pointer;
    -webkit-transform: scale(1.07);
}

ul li:hover {
    text-decoration: underline;
    cursor: pointer;
    -webkit-transform: scale(1.07);
}

.project-heading:hover {
    cursor: pointer;
    -webkit-transform: scale(1.01);
    text-decoration: underline;
}

.announcement-heading:hover {
    cursor: pointer;
    -webkit-transform: scale(1.01);
}

.trending-profile:hover {
    cursor: pointer;
    -webkit-transform: scale(1.03);
}
